<!--支出を登録する画面-->

<div class="content container">
<div class="row">
<div class="col-sm-6 offset-sm-3">
<h1 class="pt-4 pb-2">Expense</h1>
<%= form_with(model: @list, local: true) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>

<div class="form-group">
    <%= f.label :date, 'Date' %>
    <%= f.date_select :date, class: 'form-control'%>
</div>

<div class="form-group">
    <%= f.label :item_name, 'Item' %>
    <%= f.text_field :item_name, class: 'form-control', placeholder: "Enter the item name"%>
</div>

<div class="form-group">
    <%= f.label :category, 'Category' %>
    <%= f.select :category, 
    [["unclassifed", "unclassifed"], #未分類
    ["utensil", "utensil"], #生活用品
    ["utility(water/heat)", "utility"], #水道光熱費
    ["hobby", "hobby"], #趣味・娯楽
    ["entertainment", "entertainment"], #交際費
    ["transportation", "transportation"], #交通費
    ["fashion", "fashion"], ["food", "food"], #食費
    ["phone", "phone"], #通信費
    ["Others", "others"]], #その他
    :prompt => "Select category" %>
</div>

<div class="form-group">
    <%= f.label :expense, 'Expense' %>
    <%= f.number_field :expense, class: 'form-control', placeholder: "Enter the expense" %>
</div>

<div class="form-group">
    <%= f.label :place, 'Place' %>
    <%= f.text_field :place, class: 'form-control', placeholder: "Enter the place" %>
</div>

<%= f.submit 'POST', class: 'btn button btn-block btn-primary' %>

<% end %>
</div>
</div>
</div>
