<!-- 収入一覧画面 -->

<div class="row">
    <div class="col-md-6">
        <div class="date">
            <h2><%= @d %></h2>
        </div>
        <div class="container text-center page-top">
            <div class="goal">
                <h3>GOAL</h3>
                <h2><%= @goal %></h2>
            </div>
                <p class="name-total">Total</p>
                    <div class="card">
                        <p class="card-header income">Income</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @income_total_str %></p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-minus"></i></p>
                    <div class="card">
                        <p class="card-header expense">Expense</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @expense_str %></p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-equals"></i></p>
                    <div class="card">
                        <p class="card-header total">Balance</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @total %></p>
                        </div>
                    </div>
                    
                <p class="name-total"><%= @d.year %>(others)</p>
                    <div class="card">
                        <p class="card-header income">Income</p>
                        <div class="card-body">
                            <p class="card-text">
                                ¥<%= @income_year_now_oth_str %><br>
                                (¥<%= @income_year_now_str %>)
                            </p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-minus"></i></p>
                    <div class="card">
                        <p class="card-header expense">Expense</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @expense_year_str %>
                            </p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-equals"></i></p>
                    <div class="card">
                        <p class="card-header total">Balance</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @result_now_oth %><br>
                                (¥<%= @result_now %>)
                            </p>
                        </div>
                    </div>
                    
                    <p class="name-total">Income <%= @d.year %>(others)</p>
            <div class="card">
                <p class="card-header income">Income</p>
                <div class="card-body">
                    <p class="card-text">
                        ¥<%= @income_year_now_str %><br>
                        (¥<%= @income_year_now_oth_str %>)
                    </p>
                </div>
            </div>
        <p class="symbol"><i class="fas fa-divide"></i></p>
            <div class="card">
                <p class="card-header income">Times</p>
                <div class="card-body">
                    <p class="card-text"><%= @income_count_now %><br>
                    (<%= @income_count_now_oth %>)
                    </p>
                </div>
            </div>
        <p class="symbol"><i class="fas fa-equals"></i></p>
            <div class="card">
                <p class="card-header income">Average</p>
                <div class="card-body">
                    <p class="card-text">¥<%= @income_average_now %><br>
                        (¥<%= @income_average_oth_now %>)
                    </p>
                </div>
            </div>
                
                <p class="name-total">Expense <%= @d.year %></p>
                    <div class="card">
                        <p class="card-header expense">Expense</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @expense_year_str %></p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-divide"></i></p>
                    <div class="card">
                        <p class="card-header expense">Times</p>
                        <div class="card-body">
                            <p class="card-text"><%= @expense_count_now %>
                            </p>
                        </div>
                    </div>
                <p class="symbol"><i class="fas fa-equals"></i></p>
                    <div class="card">
                        <p class="card-header expense">Average</p>
                        <div class="card-body">
                            <p class="card-text">¥<%= @expense_average_now %></p>
                        </div>
                    </div>
                    
            <p class="name-total">Average(others)</p>
                <div class="card">
                    <p class="card-header income">Income</p>
                    <div class="card-body">
                        <p class="card-text">¥<%= @all_income_average_oth_str %><br>
                        (¥<%= @all_income_average_str %>)
                        </p>
                    </div>
                </div>
            <p class="symbol"><i class="fas fa-minus"></i></p>
                <div class="card">
                    <p class="card-header expense">Expense</p>
                    <div class="card-body">
                        <p class="card-text">¥<%= @all_expense_average_str %> 
                        </p>
                    </div>
                </div>
            <p class="symbol"><i class="fas fa-equals"></i></p>
                <div class="card">
                    <p class="card-header total">Balance</p>
                    <div class="card-body">
                        <p class="card-text">¥<%= @all_result_average_oth_str %><br>
                        (¥<%= @all_result_average_str %>)
                        </p>
                    </div>
                </div> 
        </div>
    </div>
    
    <div class="table-list col-md-6">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a href="<%= root_url %>" class="nav-link 
            <%= 'active' if current_page?(root_url) %>">
                Expense List
            </a>
        </li>
        <li class="nav-item">
            <a href="<%= toppages_income_path %>" class="nav-link 
                <%= 'active' if current_page?(toppages_income_path) %>">
                Income List
            </a>
        </li>
    </ul>
<%= render 'incomes/income', incomes: @incomes, income_total: @income_total %>
    </div>
</div>





