<!--ここにindex.htmlと同じコードを書く-->
<div class="container text-center">
    <p><%= @d %></p>
    <p>Name: <%= @user %></p>
    <p>Goal: <%= @goal %></p>

    <div class="row">
        <p class="col-4">Income</p>
        <p class="col-4">Expense</p>
        <p class="col-4">Total Balance</p>
    </div>
     <div class="row">
        <p class="offset-1 col-2">¥<%= @income_str %></p>
        <p class="col-2">-</p>
        <p class="col-2">¥<%= @expense_str %></td>
        <p class="col-2">=</p>
        <p class="col-2">¥<%= @total %></p>
    </div>
</div>


<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a href="<%= root_url %>" class="nav-link 
        <%= 'active' if current_page?(root_url) %>">
            Expense
        </a>
    </li>
    <li class="nav-item">
        <a href="<%= toppages_income_path %>" class="nav-link 
        <%= 'active' if current_page?(toppages_income_path) %>">
            Income
        </a>
    </li>
</ul>
<%= render 'incomes/income', incomes: @incomes, income_total: @income_total %>