<!--topage画面-->

<% if logged_in? %>
<!--ここに自分の情報を載せる-->
<div class="row">
    <div class="col-md-6">
        <div class="date">
    <h2><%= @d %></h2>
</div>
    
<div class="container text-center page-top">
    
     <div class="goal">
        <h3>GOAL</h3>
        <h2><%= @goal %></h2>
    </div>
        <p class="name-total"><%= @user %>'s Total</p>
            <div class="card">
                <p class="card-header income">Income</p>
                <div class="card-body">
                    <p class="card-text">¥ <%= @income_str %></p>
                </div>
            </div>
        <p class="symbol"><i class="fas fa-minus"></i></p>
            <div class="card">
                <p class="card-header expense">Expense</p>
                <div class="card-body">
                    <p class="card-text">¥ <%= @expense_str %></p>
                </div>
            </div>
        <p class="symbol"><i class="fas fa-equals"></i></p>
            <div class="card">
                <p class="card-header total">Balance</p>
                <div class="card-body">
                    <p class="card-text">¥ <%= @total %></p>
                </div>
            </div>
</div>

    </div>
    <div class="col-md-6">
        <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a href="<%= root_url %>" class="nav-link 
        <%= 'active' if current_page?(root_url) %>">
            Expense List
        </a>
    </li>
    <li class="nav-item">
        <a href="<%= toppages_income_path %>" class="nav-link 
        <%= 'active' if current_page?(toppages_income_path) %>">
            Income List
        </a>
    </li>
</ul>

        <%= render 'lists/lists', lists: @lists, list: @list, expense_total: @expense_total %>

    </div>
</div>


<% else %>
<div>
    <div class="text-center">
        <h1>Japanese Kakiebo</h1>
        <h2>Write Your Daily Expenses in English</h2>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>
<% end %>
