<!--topage画面-->

<% if logged_in? %>
<!--ここに自分の情報を載せる-->
    <div class="container text-center">
    <p><%= @d %></p>
    <p>Name: <%= @user %></p>

    <div class="row">
        <p class="col-4">Income</p>
        <p class="col-4">Expense</p>
        <p class="col-4">Total</p>
    </div>
     <div class="row">
        <p class="offset-1 col-2">¥<%= @income_str %></p>
        <p class="col-2">-</p>
        <p class="col-2">¥<%= @expense_str %></td>
        <p class="col-2">=</p>
        <p class="col-2">¥<%= @total %></p>
    </div>
</div>

<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a href="<%= root_url %>" class="nav-link 
        <%= 'active' if current_page?(root_url) %>">
            Expense
        </a>
    </li>
    <li class="nav-item">
        <a href="<%= toppages_income_path %>" class="nav-link 
        <%= 'active' if current_page?(toppages_income_path) %>">
            Income
        </a>
    </li>
</ul>
    <%= render 'lists/lists', lists: @lists, list: @list, expense_total: @expense_total %>
<% else %>
<div>
    <div class="text-center">
        <h1>Japanese Kakiebo</h1>
        <h2>Write Your Daily Expenses in English</h2>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
    </div>
</div>
<% end %>
